{{#if products}}
    <ul>
        {{#each products}}
        <li>
            <a href="/products/{{@key}}">{{this.title}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No products found</p>
    {{/if}}

